# Ambiente virtual
.venv/
env/
venv/

# Diretório gerado pelo MkDocs
site/

# Arquivos Python temporários
__pycache__/
*.py[cod]
*.pyo

# Arquivos de sistema e editores
.DS_Store
Thumbs.db
.vscode/
.idea/
